/* Name: Tony Phan */

body {
  font-family: 'Brush Script MT', cursive;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main header of the site */
h1 {
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 35px;
  margin-bottom: 15px;
}

img {
  border-radius: 10px;
  margin-bottom: 15px;
}

/* First div, meant to represent the actual ordering form */
.Ordering {
  background-color: orange;
  padding: 30px;
  width: fit-content;
  border-radius: 10px;
}

/* Second div, designed for selecting month (past orders) */
.Product {
  font-size: 20px;
  margin-top: 10px;
  background-color: blue;
  padding: 57px;
  width: fit-content;
  border-radius: 10px;
}

p {
  font-weight: bold;
}

.month {
  position: relative;
  display: inline-block;
}

/* Current month, goes next to "Orders for" */
.month_current {
  background-color: lightblue;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* Shines yellow whenever a user hovers over one of the month options */
.month_select li:hover {
  background-color: yellow;
}

.month_select li {
  background-color: lightblue;
}

.month:hover .month_select {
  display: block;
}

/* Scroll bars for months */
.month_select {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightblue;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100px;
  max-height: 90px;
  overflow-y: auto;
  z-index: 10px;
}



  
  
  


